
Button:hover{
    -fx-background-color: grey;
    -fx-background-repeat: no-repeat;
}

Label{
    -fx-padding: 20 0 0 0 ;
}


Button{

    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-color: white;

}

#changeColor:hover{

    -fx-background-color: pink;
    -fx-background-repeat: no-repeat;
}


#colorButton {

    -fx-max-width: 200px;
    -fx-max-height: 50px;
}

.addresssearch{
    -fx-padding: 15px;
    -fx-font-size: 15px;
}


